@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

@layer base {
  body {
    background-color: theme('colors.background');
    color: theme('colors.on-background');
  }

  h1, h2, h3, h4, h5, h6 {
    color: theme('colors.primary');
  }
}

@layer utilities {
  .pixel-border {
    box-shadow: 0px 4px 0px 0px rgba(28, 28, 11, 0.1);
  }
  
  .pixel-border-sm {
    box-shadow: 0px 2px 0px 0px rgba(28, 28, 11, 0.1);
  }

  .pixel-border-active {
    box-shadow: 0px 2px 0px 0px rgba(28, 28, 11, 0.2);
    transform: translateY(2px);
  }

  .press-down {
    transition: transform 150ms ease, box-shadow 150ms ease;
  }

  .press-down:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px 0px rgba(28, 28, 11, 0.2);
  }
  
  .pixel-button-active {
    box-shadow: 0px 2px 0px 0px rgba(28,28,11,0.2);
    transform: translateY(2px);
  }
}
